html{
        background-color: #3D087B;
    }
    .class1{
         position: relative;
         left: 2vw;
         top: 5vh;
    }
    .class3{
        display: inline;
        padding: 30px 8px;
    background-color: white;
    color: #8E53F0;
    font-size: 22px;
    font-family:Georgia, 'Times New Roman', Times, serif;
     font-weight:bolder;
     border-radius: 10px;
    
    }
    .class5{
        width: 30vw;
    }
    .class7{
        display: inline-block;
        height: 60px;
        width: 50px;    
        background-image: url(./timeline.svg);
        align-items: center;
        text-align: center;
        font-size: 25px;
        font-family: Arial, Helvetica, sans-serif;     
        color: purple;
        padding: 5px 5px;
    }
    .class8{
        font-size: 30px;
    }
    .class6{
        display: flex;
        background-color: white;
        width: 418px;
        border-radius: 5px;
        text-align: center;
        justify-content: center;
       color: rgb(3, 17, 78);
        align-items: center;
        padding: 20px;
        font-size: 25px;
    }
    .class9{
        display: inline-block;
        display: flex;
        height: 60px;
        width: 50px;    
        background-image: url(./AM_svg.svg);
        background-size: cover;
        border-radius: 3px;
        text-align: center;
        align-items: center;
        font-size: 25px;
        font-family: Arial, Helvetica, sans-serif;     
        color: purple;
        padding: 5px 5px 5px 5px;
    }
    .class10{
        position: absolute;
        right:13vw;
        top:10vh ;
    }
    .class12{
        display: inline-block;
        background-color: white;
        
        padding: 20px 20px;
        font-size: 20px;
        text-align: end;
        border-radius: 5px;
    }
    .class15{
        
        width: 150px;
        color: purple;
        align-items:end;
    }
    .class16{
        border-left: 1px solid black;
        height: 50px;
        position: relative;
        left: 17px;
    }
    .class17{
        display:inline-block;
        color: white;
        font-size: 20px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;   
        background-color: #8E53F0;
        width: 337px;
         padding: 20px 30px;
        vertical-align: middle;
        border-radius: 5px;
    
    }
    .class18{
        color: white;
        font-size: 20px;
        background-image: linear-gradient( to right, rgb(59, 59, 231),rgb(228, 52, 33));
        width: 150px;
        border-radius: 5px;
        padding: 10px 5px;
        text-align: center;
    }
    .class19{
        display: block-inline;
        background-color:  #7e47d7;
        width: 190px;
        color: violet;
        font-size: 13px;
        position: relative;
        left: 180px;
        bottom: 50px;
        padding: 10px;
        border-radius: 5px;
    }